<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964709355971-pjaqqc8fo34inh9pd6q9glu6cagtrvtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964709355971-pjaqqc8fo34inh9pd6q9glu6cagtrvtj</string>
	<key>API_KEY</key>
	<string>AIzaSyAMWZ9iovQMejLWxgpLQgSJoa4MqZTLBjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>964709355971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Siddharth-Cherukupalli.Shelter-Donation</string>
	<key>PROJECT_ID</key>
	<string>shelternetworks</string>
	<key>STORAGE_BUCKET</key>
	<string>shelternetworks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964709355971:ios:4ef8dd5fbc5fb5a714ed76</string>
	<key>DATABASE_URL</key>
	<string>https://shelternetworks.firebaseio.com</string>
</dict>
</plist>